spring:
  datasource:
    url: jdbc:mysql://localhost:3306/dbapocalipse_zumbi
    username: root
    password: secret
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger
